fixed_gemini_workflow.json
{
  "name": "UGC Generator - Fixed Gemini API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-ugc-fixed",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "webhook-fixed",
      "name": "UGC Webhook Fixed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "generate-ugc-fixed"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "productName",
              "value": "={{$json.body.productName || 'Amazing Product'}}"
            },
            {
              "name": "targetAudience", 
              "value": "={{$json.body.targetAudience || 'General Audience'}}"
            },
            {
              "name": "tone",
              "value": "={{$json.body.tone || 'friendly'}}"
            },
            {
              "name": "industry",
              "value": "={{$json.body.industry || 'General'}}"
            }
          ]
        }
      },
      "id": "extract-data-fixed",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyBe22N8yLLeTs9JyS9SqgQp3CZ9QJinOeY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Create authentic UGC content for: {{$json.productName}}\\n\\nTarget Audience: {{$json.targetAudience}}\\nTone: {{$json.tone}}\\nIndustry: {{$json.industry}}\\n\\nGenerate:\\n1. Compelling headline (non-corporate, authentic)\\n2. User testimonial (2-3 sentences, personal experience)\\n3. Social media caption (engaging with emojis)\\n4. Strong call-to-action\\n5. Three relevant hashtags\\n\\nMake it sound genuine and user-generated, using a {{$json.tone}} tone.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 800,\n    \"topK\": 40,\n    \"topP\": 0.95\n  }\n}"
      },
      "id": "gemini-fixed",
      "name": "Fixed Gemini API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "UGC Webhook Fixed": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Fixed Gemini API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-31T16:00:00.000Z",
  "versionId": "1"
}